<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ block "title" . }}{{ end }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Главная</a>
        <a href="/movies">Фильмы</a>
        {{ if .Username }}
            <span>Привет, {{ .Username }}</span>
            <a href="/logout">Выйти</a>
        {{ else }}
            <a href="/login">Войти</a>
            <a href="/register">Регистрация</a>
        {{ end }}
    </nav>
    <div class="content">
        {{ block "content" . }}{{ end }}
    </div>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
